* 				text=auto

# 代码
*.sh 			text eol=lf
*.[cC] 			text eol=crlf
*.[hH] 			text eol=crlf
*.cpp 			text eol=crlf
*.hpp 			text eol=crlf
*.cxx 			text eol=crlf
*.hxx 			text eol=crlf
*.cc 			text eol=crlf
*.cs			text eol=crlf
*.js 			text eol=crlf
*.jsx 			text eol=crlf
*.tsx 			text eol=crlf
*.html 			text eol=crlf
*.css 			text eol=crlf
*.scss 			text eol=crlf
*.sass 			text eol=crlf
*.json 			text eol=crlf
*.vue 			text eol=crlf
*.svelte 		text eol=crlf
*.xml 			text eol=crlf
*.xaml 			text eol=crlf
*.razor 		text eol=crlf
*.wasm 			binary

# 将静态库 (.lib, .a) 和动态库 (.dll, .so, .dylib) 文件标记为二进制
*.lib 			binary
*.a 			binary
*.dll 			binary
*.so 			binary
*.dylib 		binary
*.exe 			binary
*.o 			binary
*.out 			binary
*.pdb 			binary

# 音视频文件
*.ts 			binary
*.mp4			binary
*.mkv 			binary
*.mp3 			binary
*.flac 			binary

# 图片
*.jpg   		binary
*.png   		binary
*.gif   		binary
*.bmp   		binary

# 压缩包
*.zip 			binary
*.tar.* 		binary
*.bz2 			binary
*.gz 			binary
*.rar 			binary
*.7z 			binary
*.xz 			binary

# 字体文件
*.ttf 			binary
*.woff 			binary
*.woff2 		binary
*.eot 			binary
*.otf 			binary

# 工程文件
*.sln       	text eol=crlf
*.csproj    	text eol=crlf
*.vbproj    	text eol=crlf
*.vcxproj   	text eol=crlf
*.vcproj    	text eol=crlf
*.dbproj    	text eol=crlf
*.fsproj    	text eol=crlf
*.lsproj    	text eol=crlf
*.wixproj   	text eol=crlf
*.modelproj 	text eol=crlf
*.sqlproj   	text eol=crlf
*.wwaproj   	text eol=crlf

# 文档
*.txt 			text eol=crlf
*.doc   		binary
*.DOC   		binary
*.docx  		binary
*.DOCX  		binary
*.dot   		binary
*.DOT   		binary
*.pdf   		binary
*.PDF   		binary
*.rtf   		binary
*.RTF   		binary
